VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_CONTRACT_ID=YOUR_DEPLOYED_CONTRACT_ID
VITE_TOKEN_CONTRACT_ID=OPTIONAL_TOKEN_CONTRACT_ID
